body {
    margin: 3rem;
    font-size: 1.5em;
    background-color: #222222;
    font-family: Arial, serif;
    color: white;
}

.rm-calculator {
    background-color: #FF5050;
}

input, select, option, label, button, input:focus {
    font-size: inherit;
    font-family: inherit;
    border: 0;
    text-align: center;
    outline: 0;
}

.rm-calculator, select, option, input {
    border-radius: 0.2rem;
}

.inputs {
    display: flex;
    flex-flow: column;
}

#result {
    height: 1em;
    width: 100%;
    border-radius: 0.2em;
    margin: 0;
    padding: 0.2em;
    text-align: right;
    background-color: #4CAF50;
    color: white;
}

.line-break {
    flex-basis: 100%;
    height: 0;
}