body {
    margin: 3rem;
    font-size: 3em;
    background-color: #222222;
    font-family: Arial, serif;
    color: white;
}

.rm-calculator {
    background-color: #FF5050;
    padding: 1em;
}

#header {
    font-size: 5rem;
    font-weight: bold;
}

input, select, option, label, button, input:focus, #results, option, .rm-calculator, .result {
    font-size: inherit;
    font-family: inherit;
    border: 0;
    text-align: center;
    outline: 0;
    border-radius: 0.5rem;
}

.inputs, #results {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

#header, .inputs {
    margin-bottom: 2rem;
}

.result {
    background-color: white;
    color: black;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    opacity: 1;
    margin-left: -14px;
}

select {
    text-indent: 1rem;
}
